<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
        {{#if messages.success}}
          <div role="alert" class="alert alert-success">
            {{#each messages.success}}
              <div>{{msg}}</div>
            {{/each}}
          </div>
        {{/if}}
        {{#if messages.error}}
          <div role="alert" class="alert alert-danger">
            {{#each messages.error}}
              <div>{{msg}}</div>
            {{/each}}
          </div>
        {{/if}}
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{numUsers}}</div>
                        <div>Users</div>
                    </div>
                </div>
            </div>
            <a href="/admin/users/">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-plus-square fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{numSubmissions}}</div>
                        <div>Submissions</div>
                    </div>
                </div>
            </div>
            <a href="/admin/submissions/">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-info-circle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{numLogs}}</div>
                        <div>Log Messages</div>
                    </div>
                </div>
            </div>
            <a href="/admin/logs">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-warning fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{#if numExceptions}}{{numExceptions}}{{else}}0{{/if}}</div>
                        <div>Errors</div>
                    </div>
                </div>
            </div>
            <a href="/admin/exceptions">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-plus-square fa-fw"></i> Recent Submissions
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">
                    {{#each submissions}}
                        <li {{#isOdd @index}}class="timeline-inverted"{{/isOdd}}>
                            <div class="timeline-badge"><a href="/admin/users/{{user._id}}"><img class="user-pic" src="{{user.gravatar}}"></a></div>
                            <div class="timeline-panel">
                                <div class="col-xs-9 timeline-heading">
                                    <h4 class="timeline-title">{{user.name}}</h4>
                                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{fromNow createdAt}}</small></p>
                                    <p><small class="text-muted"><i class="fa fa-link"></i> <a href="/restaurant/{{restID}}">{{restID}}</a></small></p>
                                </div>
                                <div class="col-xs-3 timeline-body">
                                    <div class="text-right">
                                        <div class="huge">{{time}}</div>
                                        <div>{{pluralize time 'Minute'}}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Recent Log Messages
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    {{#each logs}}
                        <a href="/admin/logs" class="list-group-item">
                            <i class="fa {{levelToIcon level}} fa-fw"></i> {{message}}
                            <span class="pull-right text-muted small"><em>{{fromNow timestamp}}</em>
                            </span>
                        </a>
                    {{/each}}
                </div>
                <!-- /.list-group -->
                <a href="/admin/logs" class="btn btn-default btn-block">View All Messages</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
