<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Logs</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables">
                        <thead>
                            <tr>
                                <th>Level</th>
                                <th>Message</th>
                                <th>Time</th>
                                <th>Metadata</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each logs}}
                            <tr>
                                <td>{{level}}</td>
                                <td>{{message}}</td>
                                <td data-sort="{{formatDate timestamp}}">{{formatDateAndTime timestamp}}</td>
                                <td>{{toJSON metadata}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
