<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Submissions</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables">
                        <thead>
                            <tr>
                                <th>Restaurant ID</th>
                                <th>User</th>
                                <th>Time</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each submissions}}
                            <tr>
                                <td><a href="/restaurant/{{restID}}">{{restID}}</a></td>
                                <td><a href="/admin/users/{{user._id}}/">{{user.name}} ({{user._id}})</a></td>
                                <td>{{time}} minutes</td>
                                <td data-sort="{{formatDate createdAt}}">{{fromNow createdAt}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
