<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ouser.name}} {{#if ouser.isAdmin}} - Admin{{/if}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel">
          <div class="panel-body">
            {{#if messages.success}}
              <div role="alert" class="alert alert-success">
                {{#each messages.success}}
                  <div>{{msg}}</div>
                {{/each}}
              </div>
            {{/if}}
            {{#if messages.error}}
              <div role="alert" class="alert alert-danger">
                {{#each messages.error}}
                  <div>{{msg}}</div>
                {{/each}}
              </div>
            {{/if}}
            <div class="well">
                <p>User ID: {{ouser._id}}</p>
                <p>Created {{fromNow ouser.createdAt}}</p>
                <p>Updated {{fromNow ouser.updatedAt}}</p>
                <p>{{ouser.numSubmissions}} {{pluralize ouser.numSubmissions 'submission'}}</p>
                {{#if ouser.lastSubmission}}
                    <p>Last submission {{fromNow ouser.lastSubmission}}</p>
                {{else}}
                    <p>Never submitted a wait time</p>
                {{/if}}
                <a class="btn btn-default btn-lg btn-block" href="/users/{{ouser.id}}/">User Profile</a>
            </div>
            <form method="POST" action="/admin/users/{{ouser._id}}/?_method=PUT" class="form-horizontal">
              <legend>Profile Information</legend>
              <div class="form-group">
                <label for="email" class="col-sm-3">Email</label>{{#ifnoteq ouser.emailConfirmed true}}<span title="Email unconfirmed" class="label label-danger">Unconfirmed</span>{{/ifnoteq}}{{#ifeq ouser.emailConfirmed true}}<span title="Email confirmed" class="label label-success">Confirmed</span>{{/ifeq}}
                <div class="col-sm-7">
                  <input type="email" data-lpignore="true" name="email" id="email" class="form-control" value="{{ouser.email}}">
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="col-sm-3">Name</label>
                <div class="col-sm-7">
                  <input type="text" data-lpignore="true" name="name" id="name" class="form-control" value="{{ouser.name}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3">Gender</label>
                <div class="col-sm-4">
                  <label class="radio-inline radio col-sm-4">
                    <input type="radio" name="gender" value="Male" {{#ifeq ouser.gender 'Male'}}checked{{/ifeq}}><span>Male</span>
                  </label>
                  <label class="radio-inline col-sm-4">
                    <input type="radio" name="gender" value="Female" {{#ifeq ouser.gender 'Female'}}checked{{/ifeq}}><span>Female</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="location" class="col-sm-3">Location</label>
                <div class="col-sm-7">
                  <input type="text" name="location" id="location" class="form-control" value="{{ouser.location}}">
                </div>
              </div>
              <div class="form-group">
                <label for="website" class="col-sm-3">Website</label>
                <div class="col-sm-7">
                  <input type="text" name="website" id="website" class="form-control" value="{{ouser.website}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3">Gravatar</label>
                <div class="col-sm-4">
                  <img src="{{ouser.gravatar}}" class="profile" width="100" height="100">
                </div>
              </div>
              <div class="form-group">
                <label for="is-admin" class="col-sm-3">Admin</label>
                <div class="col-sm-7">
                    <label class="checkbox-inline col-sm-4">
                      <input type="checkbox" name="isadmin" value="true" {{#if ouser.isAdmin}}checked{{/if}}><span>Admin</span>
                    </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                  <button type="submit" class="btn btn-success">Update Profile</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="panel">
          <div class="panel-body">
            <form method="POST" action="/admin/users/{{ouser._id}}/?_method=PUT" class="form-horizontal">
              <legend>Change Password</legend>
              <div class="form-group">
                <label for="password" class="col-sm-3">New Password</label>
                <div class="col-sm-7">
                  <input type="password" name="password" id="password" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="confirm" class="col-sm-3">Confirm Password</label>
                <div class="col-sm-7">
                  <input type="password" name="confirm" id="confirm" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-3">
                  <button type="submit" class="btn btn-success">Change Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="panel">
          <div class="panel-body">
            <form method="POST" action="/admin/users/{{ouser._id}}/?_method=DELETE" class="form-horizontal">
              <legend>Delete Account</legend>
              <div class="form-group">
                <p class="col-sm-offset-3 col-sm-9">You can delete this account, but keep in mind this action is irreversible.</p>
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-danger">Delete this account</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
