<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Users</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>ID</th>
                                <th>Created</th>
                                <th>Last Updated</th>
                                <th>Submissions</th>
                                <th>Last Submission</th>
                                <th>Admin</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                            <tr>
                                <td><a href="/admin/users/{{_id}}/">{{name}}</a></td>
                                <td>{{email}} {{#ifnoteq emailConfirmed true}}<span title="Email unconfirmed" class="label label-danger">Unconfirmed</span>{{/ifnoteq}}{{#ifeq emailConfirmed true}}<span title="Email confirmed" class="label label-success">Confirmed</span>{{/ifeq}}</td>
                                <td>{{_id}}</td>
                                <td data-sort="{{formatDate createdAt}}">{{fromNow createdAt}}</td>
                                <td data-sort="{{formatDate updatedAt}}">{{fromNow updatedAt}}</td>
                                <td>{{numSubmissions}}</td>
                                {{#if lastSubmission}}
                                    <td data-sort="{{formatDate lastSubmission}}">{{fromNow lastSubmission}}</td>
                                {{else}}
                                    <td>Never</td>
                                {{/if}}
                                <td>{{isAdmin}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
