<div class="center">
  <div class="container">
    <h1 style="font-size: 6em;"><i class="fa fa-search" aria-hidden="true"></i> 404</h1>
    <p style="font-size: 1.5em;">We looked everywhere, but we couldn't see to find the page you were looking for.</p>
    <p style="font-size: 2em;"><a href="/">Go Home</a>
  </div>
</div>
