<html>

    <head>
        <title>
            WaitMate - Restaurant Waiting Times
        </title>
        <meta charSet="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Asap|Karla:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/app/main.css">
        <link rel="stylesheet" type="text/css" href="/css/app/devices.css">
    </head>

    <body>
        <header class="header">
            <div class="container-lrg">
                <div class="col-12 spread">
                    <div>
                        <a href="/" class="logo">WaitMate</a>
                    </div>
                    <div>
                        <a class="nav-link" target="_blank" href="https://twitter.com/waitmatehq">Twitter</a>
                        <a class="nav-link" target="_blank" href="https://www.facebook.com/waitmatehq/">Facebook</a>
                    </div>
                </div>
            </div>
            <div class="container-lrg flex">
                <div class="col-6 centervertical">
                    <h1 class="heading">
                        Get restaurant waiting times on the go.
                    </h1>
                    <h2 class="paragraph ">
                        Easily find out how long it's going to take you to get your food at a restaurant, before you get there. WaitMate makes it easy to submit and view waiting times for your favorite restaurants, right from your phone.
                    </h2>
                    <div class="ctas">
                        <div class="iphoneandroid">
                            <a class="ctas-button" href="https://itunes.apple.com/us/app/waitmate-waiting-times/id1266672887">
                                <img src="/img/applelogo.svg">
                                <span>App Store</span>
                            </a>
                            <a class="ctas-button" href="https://play.google.com/store/apps/details?id=io.waitmate.app">
                                <img src="/img/androidlogo.svg">
                                <span>Play Store</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 sidedevices">
                    <div class="iphoneipad">
                        <div class="iphone">
                            <div class="mask">
                                <img class="mask-img" src="/img/iphonemain.png">
                            </div>
                        </div>
                        <div class="ipad">
                            <div class="mask">
                                <img class="mask-img" src="/img/ipad.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="feature4">
            <div class="container-lrg flex">
                <div class="col-5 centervertical">
                    <h3 class="subheading">
                        More Than Just Numbers.
                    </h3>
                    <p class="paragraph">
                        Easily get other information about restaurants such as location, rating, meal options, hours of operation and more.
                    </p>
                </div>
                <div class="col-1">
                </div>
                <div class="col-6">
                    <div class="sidedevices">
                        <div class="iphoneandroid">
                            <div class="iphone">
                                <div class="mask">
                                    <img class="mask-img" src="/img/iphonerestaurant.png">
                                </div>
                            </div>
                            <div class="android">
                                <div class="mask">
                                    <img class="mask-img" src="/img/androidsearch.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!--<div class="side">
                        <img class="androidr" src="/img/androidrestaurant.png">
                        <img class="iphoner" src="/img/iphonerestaurant.png">
                    </div>--}}
                </div>
            </div>
        </div>
        <div class="feature2">
            <div class="container-lrg flex">
                <div class="col-6">
                    <b class="emoji">🍴</b>
                    <h3 class="subheading">
                        Every Restaurant
                    </h3>
                    <p class="paragraph">
                        WaitMate gets it's data from normal users, not restaurants. As such, it works with every restaurant, not just ones with a specific system.
                    </p>
                </div>
                <div class="col-6">
                    <b class="emoji">📲</b>
                    <h3 class="subheading">
                        Easy Access
                    </h3>
                    <p class="paragraph">
                        Access WaitMate wherever you are, on the go or at home. Download our app and get the waiting time before you arrive at the restaurant.
                    </p>
                </div>
            </div>
        </div>
        {{!--<div class="socialproof">
            <div class="container-sml">
                <div class="flex text-center">
                    <div class="col-12">
                        <h4 class="subheading">
                            "What a time saver for startup founders...this can be one of the most awful and creative sinkholes that a team goes through... Bravo for making this hellish process a little better."
                        </h4>
                        <p class="paragraph">
                            Sean Howell - CEO @ Hornetapp
                        </p>
                    </div>
                </div>
            </div>
        </div>--}}
        <div class="footer">
            <div class="container-sml text-center">
                <div class="col-12">
                    <h5 class="heading">
                        Restaurant waiting times, ready when you need them.
                    </h5>
                    <div class="ctas">
                        <div class="iphoneandroid">
                            <a class="ctas-button" href="https://itunes.apple.com/us/app/waitmate-waiting-times/id1266672887">
                                <img src="/img/applelogo.svg">
                                <span>
                                    App Store
                                </span>
                            </a>
                            <a class="ctas-button" href="https://play.google.com/store/apps/details?id=io.waitmate.app">
                                <img src="/img/androidlogo.svg">
                                <span>
                                    Play Store
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-sml footer-nav">
                <div class="col-12 text-center">
                    <div>
                        <a target="_blank" href="https://twitter.com/waitmatehq" class="nav-link">
                            Twitter
                        </a>
                        <a target="_blank" href="https://www.facebook.com/waitmatehq/" class="nav-link">
                            Facebook
                        </a>
                        <a href="mailto:contact@waitmate.io" class="nav-link">
                            Contact
                        </a>
                        <a href="https://waitmate.io/tos" class="nav-link">
                            TOS
                        </a>
                        <a href="https://waitmate.io/privacy" class="nav-link">
                            Privacy
                        </a>
                    </div>
                    <br>
                    <div>
                        <span>
                            Copyright © 2016 WaitMate | Made With <i class="fa fa-heart" aria-hidden="true" title="Love" style="color: #FF0500;"></i> in Columbus, Ohio
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
