<div style="background-color: #FF4A1C; margin-top: 50px; margin-bottom: 0px;" class="jumbotron">
  <div class="container">
    <h1 style="color: #fff;">Contact</h1>
    <h3 style="color: #fff;">Contact the Team Behind {{@name}}</h3>
  </div>
</div>
<div class="googlemap">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d391183.3995349777!2d-83.0911185147912!3d40.005760150742475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1463674816006" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="container" style="padding: 10px 15px 0;">
  <address>
    <strong>Keith Condray - Raderstorf</strong><br>
    Columbus, OH 43215<br>
    <a href="mailto:keithcondrayraderstorf@gmail.com">
      keithcondrayraderstorf@gmail.com
    </a>
  </address>

</div>
<style>
.googlemap {
        position: relative;
        padding-bottom: 25%; /* 4:3 ratio*/
        height: 0;
        overflow: hidden;
}

.googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
</style>
