<div class="container">
  <h1>{{message}}</h1>
  {{#if error.status}}<h2>{{error.status}}</h2>{{/if}}
  {{#if info}}<p>{{{info}}}</p>{{/if}}
  {{#if error.stack}}<pre>{{error.stack}}</pre>{{/if}}
  {{#if sentry}}
  <script src="https://cdn.ravenjs.com/2.1.0/raven.min.js"></script>
  <script>
    {{#if user}}
      Raven.setUserContext({
          email: '{{user.email}}',
          name: '{{user.name}}'
      });
    {{/if}}
    Raven.showReportDialog({
      eventId: '{{ sentry }}',

      // use the public DSN (dont include your secret!)
      dsn: 'https://9818c6f539504296b01d6dce83b3fca6@sentry.io/272138'
    });
    console.log('sentry');
  </script>
  {{/if}}
</div>
