<div class="center">
  <div class="container">
      {{!--<h1 style="color: #FF4A1C;">{{@name}}</h1>--}}
      <img class="header-img" alt="WaitMate" src="/img/logo.svg">
      <form id="search">
          <div class="row">
              <div class="col-md-6" style="padding-left: 7px; padding-right: 7px;">
                  <div id="search" class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><i class="fas fa-search"
                  aria-hidden="true"></i></span>
                      <input type="text" class="form-control" id="searchbox" placeholder="Search Restaurants" aria-describedby="basic-addon1">
                  </div>
              </div>
              <div class="col-md-6" style="padding-left: 7px; padding-right: 7px;">
                  <div id="loc" class="form-group">
                      <div class="input-group">
                          <span class="input-group-addon" id="basic-addon2"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></span>
                          <input type="text" class="form-control" id="locbox" placeholder="Near" aria-describedby="basic-addon2" data-toggle="popover" data-placement="top" data-trigger="manual" title="Error"
                          data-content="Please enter a location">
                      </div>
                  </div>
              </div>
          </div>
          <button type="submit" class="btn btn-default btn-lg" style="margin-top: 5px; margin-right: 10px">Search</button>
          <a onclick="nearby()" class="btn btn-default btn-lg" style="margin-top: 5px" role="button">Nearby</a>
      </form>
  </div>
</div>
