{{#if adminPage}}
    {{> adminlayout}}
{{else if blankPage}}
    {{{body}}}
{{else}}
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="{{description}}">
        <meta name="author" content="waitmate">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="icon" href="/favicon.ico">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#FF4A1C">
        {{#if noindex}}<meta name="robots" content="noindex, nofollow">{{/if}}

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="WaitMate">
        <meta itemprop="description" content="Get restaurant waiting times submitted by users such as yourself. Spend less time waiting and more time eating.">
        <meta itemprop="image" content="https://waitmate.io/img/socialimage.png">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://waitmate.io">
        <meta property="og:type" content="website">
        <meta property="og:title" content="WaitMate">
        <meta property="og:description" content="Get restaurant waiting times submitted by users such as yourself. Spend less time waiting and more time eating.">
        <meta property="og:image" content="https://waitmate.io/img/socialimage.png">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="WaitMate">
        <meta name="twitter:description" content="Get restaurant waiting times submitted by users such as yourself. Spend less time waiting and more time eating.">
        <meta name="twitter:image" content="https://waitmate.io/img/socialimage.png">

        <title>{{#ifnoteq title 'Home'}}{{title}} -{{/ifnoteq}} {{@name}}</title>

        <link href="/css/theme.min.css" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <link href="/css/style.css?v=08012018" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/css/sweetalert.css">

        {{#ifeq title "Home"}}
            <link rel="prefetch" as="image" href="/img/logo.svg">
        {{/ifeq}}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Font Awesome JS -->
        <script defer src="/js/vendor/fontawesome-all.min.js"></script>
        <script src="/js/vendor/fa-v4-shims.min.js"></script>

        <!-- ASAP Font -->
        <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">

        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
        integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
        crossorigin=""/>

        <link rel="stylesheet" href="/css/leaflet.awesome-markers.css">

        <script src='https://www.google.com/recaptcha/api.js'></script>
      </head>

      <body>
        <a href="/app" class="banner-link">
          <div class="banner visible-xs visible-sm">
            <div class="container">
                <p>Download Our Mobile App</p>
            </div>
          </div>
        </a>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">{{@name}}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                {{#if user}}
                  <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
                      {{#if user.picture}}
                        <img src="{{user.picture}}">
                      {{else}}
                        <img src="{{user.gravatar}}">
                      {{/if}}
                      {{#if user.name}}
                        {{user.name}}
                      {{else}}
                        {{user.email}}
                      {{/if}}
                      <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/account"><i class="fa fa-gear fa-fw"></i> My Account</a></li>
                        {{#if user.isAdmin}}<li><a href="/admin"><i class="fa fa-unlock fa-fw"></i> Admin Panel</a></li>{{/if}}
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                    </ul>
                  </li>
                {{else}}
                  <li class="{{#ifeq title 'Log in'}}active{{/ifeq}}"><a href="/login">Log in</a></li>
                  <li class="{{#ifeq title 'Sign up'}}active{{/ifeq}}"><a href="/signup">Sign up</a></li>
                {{/if}}
            </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <!-- Begin page content -->
        {{{body}}}

        <footer class="footer">
          <div class="container">
            <p class="text-muted pull-left"><span class="hidden-xs">Copyright</span> &copy; <span id="copyright-date" class="hidden-xs">
              2016 - {{getCurrentYear}}</span> <a href="/" class="footer-brand" target="_self">{{@name}}</a> <span class="hidden-xs">| Made With <i
              class="fa fa-heart" aria-hidden="true" title="Love"
              style="color: #FF0500;"></i> in Columbus, Ohio</p></span>
            <div class="pull-right" style="margin: 20px 0 0 0;">
                <a target="_blank" style="margin-right: 4px;" href="mailto:contact@waitmate.io">Contact</a>
                <a class="hidden-xs" style="margin-right: 8px;" href="/app">Mobile App</a>
                <div style="float: right;" class="dropup">
                  <a class="dropdown-toggle" type="button" id="legalDropup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Legal
                  </a>
                  <ul class="dropdown-menu pull-right" aria-labelledby="legalDropup">
                      <li><a href="/tos">Terms Of Service</a></li>
                      <li><a href="/privacy">Privacy Policy</a></li>
                  </ul>
                </div>
            </div>
            <div class="social pull-right hidden-xs">
             <ul>
                 <li><a target="_blank" href="https://www.facebook.com/waitmatehq/"><i class="fab fa-2x fa-facebook-f"></i></a></li>
                 <li><a target="_blank" href="https://twitter.com/waitmatehq"><i class="fab fa-2x fa-twitter"></i></a></li>
                 <li><a target="_blank" href="https://instagram.com/waitmatehq"><i class="fab fa-2x fa-instagram"></i></a></li>
                 <li><a target="_blank" href="https://medium.com/waitmate"><i class="fab fa-2x fa-medium-m"></i></a></li>
                 {{!--<li><a target="_blank" href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-github"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-pinterest"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-flickr"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-vimeo-square"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-stack-overflow"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-dropbox"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-tumblr"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-dribbble"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-skype"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-stack-exchange"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-youtube"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-xing"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-rss"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-foursquare"></i></a></li>
                 <li><a target="_blank" href="#"><i class="fa fa-lg fa-youtube-play"></i></a></li>--}}
             </ul>
            </div>
          </div>
        </footer>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-83264746-1', 'auto');
            ga('send', 'pageview');
            <!-- Hotjar Tracking Code -->
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:442297,hjsv:5};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
        {{#if googlemaps}}<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA0eqYbpKYInMazHkgzSePgh93uYFk-7w"></script>{{/if}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
        <script src="/js/vendor/push.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/vendor/sweetalert.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
        integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
        crossorigin=""></script>
        <script src="/js/vendor/leaflet.awesome-markers.min.js"></script>
        <script src="/js/custom.js?v=19082017"></script>
        {{#if customjs}}
          <script src="/js/{{customjs}}"></script>
        {{/if}}
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/js/ie10-viewport-bug-workaround.js"></script>
      </body>
    </html>
{{/if}}
