<div class="container" style="margin-top: 10px;">
    <form id="search">
        <div style="margin: 0 -8px;" class="row">
            <div class="col-md-6" style="padding-left: 7px; padding-right: 7px;">
                <div id="search" class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"
                aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="searchbox" placeholder="Search Restaurants" aria-describedby="basic-addon1" value="{{query}}">
                </div>
            </div>
            <div class="col-md-6" style="padding-left: 7px; padding-right: 7px;">
                <div id="loc" class="form-group" style="margin-bottom: 0">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" id="locbox" placeholder="Near" aria-describedby="basic-addon2" data-toggle="popover" data-placement="bottom" data-trigger="manual" title="Error"
                        data-content="Please enter a location" value="{{loc}}">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" style="display: none;"></button>
    </form>
    {{#if error}}
    <div style="padding: 7px;" class="row">
        {{#if error}}
            <div role="alert" class="alert alert-danger">
                {{#each error}}
                    <div>{{this}}</div>
                {{/each}}
            </div>
        {{/if}}
    </div>
    {{else}}
        {{#ifeq results.venues.length 0}}
          <div style="padding: 7px;" class="row">
            <div role="alert" class="alert alert-warning">
                <div>No results found.</div>
            </div>
          </div>
        {{/ifeq}}
        <div style="margin: 0" class="row">
          {{#each results.venues}}
            <div class="search-result col-xs-8">
                {{#if hours}}
                    {{#if hours.isOpen}}
                        <h4 style='display: inline-block;'><a href="/restaurant/{{id}}/">{{name}}</a> <span class="badge" style="    margin-bottom: 3px; border-radius: 6px; background-color: #{{ratingColor}}; color: #fff">{{rating}}</span> - <span class="text-success">Open</span></h4>
                    {{else}}
                        <h4 style='display: inline-block;'><a href="/restaurant/{{id}}/">{{name}}</a> <span class="badge" style="margin-bottom: 3px; border-radius: 6px; background-color: #{{ratingColor}}; color: #fff">{{rating}}</span> - <span class="text-danger">Closed</span></h4>
                    {{/if}}
                {{else}}
                    <h4 style='display: inline-block;'><a href="/restaurant/{{id}}/">{{name}}</a> <span class="badge" style="margin-bottom: 3px; border-radius: 6px; background-color: #{{ratingColor}}; color: #fff">{{rating}}</span></h4>
                {{/if}}
                <p>{{formatAddress location.formattedAddress}}</p>
            </div>
            <div class="search-result col-xs-4 text-right">
                <h4 style='display: inline-block;'>{{average}}</h4>
                <p>{{pluralize average 'Minute'}}</p>
            </div>
          {{/each}}
        </div>
        <div style="padding: 0;" class="">
            <img style="margin-left: -19px;" src="/img/Powered-by-Foursquare-one-color-300.png">
        </div>
        <nav style="padding: 0;">
            <ul class="pager" style="padding-right: 0; margin-top: 0;">
                <li class="previous{{#ifeq pageNumber 1}} disabled{{/ifeq}}">
                    <a {{#ifnoteq pageNumber 1}}href="/search?q={{query}}&lat={{lat}}&lng={{lng}}&p={{previousPageNumber}}"{{/ifnoteq}}><span aria-hidden="true">&larr;</span> Previous</a>
                </li>
                {{#ifeq loc ""}}
                    <li class="next{{#ifeq pageNumber nextPageNumber}} disabled{{/ifeq}}">
                        <a {{#ifnoteq pageNumber nextPageNumber}}href="/search?q={{query}}&lat={{lat}}&lng={{lng}}&p={{nextPageNumber}}"{{/ifnoteq}}>Next <span aria-hidden="true">&rarr;</span></a>
                    </li>
                {{else}}
                    {{#ifeq loc "Current Location"}}
                        <li class="next{{#ifeq pageNumber nextPageNumber}} disabled{{/ifeq}}">
                            <a {{#ifnoteq pageNumber nextPageNumber}}href="/search?q={{query}}&lat={{lat}}&lng={{lng}}&p={{nextPageNumber}}"{{/ifnoteq}}>Next <span aria-hidden="true">&rarr;</span></a>
                        </li>
                    {{else}}
                        <li class="next{{#ifeq pageNumber nextPageNumber}} disabled{{/ifeq}}">
                            <a {{#ifnoteq pageNumber nextPageNumber}}href="/search?q={{query}}&l={{loc}}&p={{nextPageNumber}}"{{/ifnoteq}}>Next <span aria-hidden="true">&rarr;</span></a>
                        </li>
                    {{/ifeq}}
                {{/ifeq}}
            </ul>
        </nav>
    {{/if}}
</div>
