<div class="container">
    <div class="row">
      <div class="col-md-3"><img src="{{profile.gravatar}}" style="float: right;" width="100" height="100"></div>
      <div class="col-md-6">
          <h1 style="margin: 0">{{profile.name}}{{#if profile.isAdmin}}<i style="color: #FF4A1C" class="fa fa-certificate fa-fw" aria-hidden="true" title="{{@name}} Staff"></i>{{/if}}</h1>
          <hr>
          <p style="margin: 0">{{profile.gender}}</p>
          <p style="margin: 0">{{profile.location}}</p>
          <p style="margin: 0"><a href="{{profile.website}}" target="_blank">{{profile.website}}</a></p>
      </div>
      <div class="col-md-3">
          <h2 style="margin: 0">{{profile.numSubmissions}}</h2>
          <h3 style="margin: 0">{{pluralize profile.numSubmissions 'Submission'}}</h3>
      </div>
    </div>
</div>
