/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* Native UI Font */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom CSS
-------------------------------------------------- */

/* body > .container {
  padding: 60px 15px 0;
} */

.navbar-default .navbar-nav>.active>a
{
  background: none;
}

.navbar-default .navbar-nav>.active>a:hover
{
  background: none;
}

.navbar-default .navbar-nav>.active>a:focus
{
  background: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: none;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: none;
}

.footer .container .text-muted {
  margin: 20px 0 10px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
}

.input-group-addon {
    background-color: #fff;
}

code {
  font-size: 80%;
}

a {
  color: #FF4A1C;
}

a:focus, a:hover {
  color: #FF4A1C;
  text-decoration: underline;
}

.jumbotron .container h1 {
    font-size: 6rem;
    font-weight: 400;
    line-height: 1.1;
}

.navbar {
    margin-bottom: 0px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner {
  background-color: #FF4A1C;
  color: #fff;
  padding: 10px 0;
}

.banner .container {
  text-align: center;
}

.banner p {
  color: #fff;
  font-size: 20px;
}

.banner-link {
  text-decoration: none;
}

.banner-link:hover {
  text-decoration: none;
}

.btn-facebook {
  color: #fff;
  border-color: #335190;
  background: #3b5998;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
}

.btn-twitter {
  color: #fff;
  border-color: #009fdb;
  background: #00aced;
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
}

.btn-google {
  color: #fff;
  border-color: #d54331;
  background: #dd4b39;
}

.btn-google:hover,
.btn-google:focus {
  color: #fff;
}

.navbar-default .navbar-nav > li > a.navbar-avatar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a.navbar-avatar img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.navbar-inverse .navbar-nav > li > a.navbar-avatar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > a.navbar-avatar img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}


.hr-title {
  height: auto;
  margin-top: 20px;
  border-top: 1px solid;
  color: #bbb;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.hr-title span {
  position: relative;
  padding: 2px 10px;
  top: -10px;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.num-results {
    margin: 0;
}

.search-result h4 {
    display: inline-block;
    margin-bottom: 0;
}

.search-result {
    padding-right: 0;
    padding-left: 0;
}

.rating .fa-star {
    color: #FFD700;
}

.rating .fa-star-half {
    color: #FFD700;
}

.rating .fa-star-o {
    color: #777;
}

.rating .fa-stack {
    width: 2.5714285714285716em;
    margin-bottom: 10px;
}

.rating .fa-stack .fa {
    margin-bottom: 0;
}

.rating .fa-stack i.fa-star-half {
    z-index: 9;
}

.rating .fa {
    text-align: left;
    margin-bottom: 10px;
}

.alertify {
    z-index: 1500;
}

.sentry-error-embed-wrapper {
  z-index: 1000 !important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;

  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;

  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.

     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.header-img {
    margin-bottom: 10px;
}

.navbar-default .navbar-brand {
    color: #FF4A1C;
    font-size: 22px;
    font-family: 'Asap', sans-serif;
}

.footer-brand {
    color: #FF4A1C;
    font-family: 'Asap', sans-serif;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: rgba(255,74,28,0.8);
    background-color: transparent;
}

#legalDropup {
    cursor: pointer;
}

.btn-outline {
  color: #FF4A1C;
  background-color: transparent;
  border-color: #FF4A1C;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-outline:hover, .btn-outline:focus {
  color: #FF4A1C;
}

.btn-outline:hover {
  color: #FF4A1C;
  padding-right: 35px;
}

.btn-outline:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-outline::after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: '\f054';
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  margin-left: 0;
  opacity: 0;
  margin-top: 4px;
}

.btn-outline:hover:after {
  margin-left: 10px;
  opacity: 1;
}

.awesome-marker i {
    font-size: 17px !important;
}

/* Social Share Buttons */
.resp-sharing-button {
  display: inline-block;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  transition: background-color 25ms ease-out, border-color 25ms ease-out, opacity 250ms ease-out;
  margin: 0.5em;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.resp-sharing-button a {
  text-decoration: none;
  color: #FFF;
  display: block;
}

.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-bottom: -0.1em;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #FFF;
  fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #FFF;
  stroke: none;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #FFF;
}

.resp-sharing-button--large .resp-sharing-button__icon svg {
  padding-right: 0.4em;
}

.resp-sharing-button__wrapper {
  display: inline-block;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--email {
  background-color: #444444;
  border-color: #444444;
}

.resp-sharing-button--email:hover
.resp-sharing-button--email:active {
  background-color: #2B2B2B;
  border-color: #2B2B2B;
}

.resp-sharing-button--linkedin {
  background-color: #0976b4;
  border-color: #0976b4;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #075683;
  border-color: #075683;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}

.resp-sharing-button__link:hover {
    text-decoration: none;
}

.resp-sharing-button__link:active {
    text-decoration: none;
}

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 18px 10px 0 0;
}

.social ul li {
    list-style: none outside none;
    display: inline-block;
    padding: 0 5px 0 5px;
}

.social svg {
    color: #909AA0;
    /*background-color: #909AA0;*/
    font-size: 24px;
    text-align:center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social svg:hover {
    color: #FF4A1C;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook-f:hover {
    color: #4060A5;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-google-plus:hover {
    color: #e64522;
}

.social .fa-github:hover {
    color: #343434;
}

.social .fa-pinterest:hover {
    color: #cb2027;
}

.social .fa-linkedin:hover {
    color: #0094BC;
}

.social .fa-flickr:hover {
    color: #FF57AE;
}

.social .fa-instagram:hover {
    color: #e1306c;
}

.social .fa-vimeo-square:hover {
    color: #83DAEB;
}

.social .fa-stack-overflow:hover {
    color: #FEA501;
}

.social .fa-dropbox:hover {
    color: #017FE5;
}

.social .fa-tumblr:hover {
    color: #3a5876;
}

.social .fa-dribbble:hover {
    color: #F46899;
}

.social .fa-skype:hover {
    color: #00C6FF;
}

.social .fa-stack-exchange:hover {
    color: #4D86C9;
}

.social .fa-youtube:hover {
    color: #FF1F25;
}

.social .fa-xing:hover {
    color: #005C5E;
}

.social .fa-rss:hover {
    color: #e88845;
}

.social .fa-foursquare:hover {
    color: #09B9E0;
}

.social .fa-youtube-play:hover {
    color: #DF192A;
}

.social .fa-medium-m:hover {
    color: #00ab6c;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
